@charset "utf-8";

/* -- admin -- */
.admin-wrapper {
    display: flex;
}

.admin-sidebar-wrapper {
    width: max(300px, 20%);

}

.admin-main-wrapper {
    width: 80%;
}

/* 日程表 */

.details {
    transition: .3s;
    overflow: hidden;
    margin-top: -10px;
    padding-bottom: 20px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.details[open] {
    margin-top: 0;
    padding-bottom: 10px;
}

.details-summary {
    display: block;
    padding: 15px;
    transition: .3s;
    transform: translateY(10px);
    background-color: #9d9d9d;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

    &:hover {
        cursor: pointer;
    }
}

.details-summary::-webkit-details-marker {
    display: none;
}

.details[open] .details-summary {
    transform: translateY(0);
}

.details-content {
    padding: 20px;
    background-color: #e0e0e0;
    border-bottom: 2px solid #9d9d9d;
    border-left: 2px solid #9d9d9d;
    border-right: 2px solid #9d9d9d;
}

/* アコーディオン タイトル */
.accordion__title {
    position: relative;
    padding: 15px 60px 15px 20px;
    font-weight: bold;
    cursor: pointer;
}

/* +アイコン */
.accordion__title::before,
.accordion__title::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #ffffff;
    width: 20px;
    height: 4px;
    transition: all 0.3s;
}

.accordion__title::after {
    transform: rotate(90deg);
}

/* -- user -- */
/* --------------------
共通部分
-------------------- */
body {
    font-family: 'LINE Seed JP', sans-serif;
}

.user-wrapper {
    width: 92%;
    margin: 0 auto;
}

.user-section_title {
    color: #394C84;
}

/* margin-bottom */
.mb-6 {
    margin-bottom: 4.5rem !important;
}

.mb-7 {
    margin-bottom: 6rem !important;
}

.mb-8 {
    margin-bottom: 7.5rem !important;
}

.mb-10 {
    margin-bottom: 10rem !important;
}

/* --------------------
header 
--------------------*/
header {
    background-color: #F6F8FB;
}

.user-logo {
    max-width: 300px;
}

/* --------------------
login 
--------------------*/
.user-login {
    min-height: 80vh;
}

.user-card {
    background-color: #F6FAFF;
}

/* --------------------
TOP 
--------------------*/
.user-card_subtitle {
    color: #394C84;
}

/* --------------------
calendar
--------------------*/
.calendar {
    background-color: #F6FAFF;
}

.calender-img {
    width: 100%;
    height: auto;
}

table {
    border-collapse: separate;
    border-spacing: 5px 16px;
    table-layout: fixed;
    width: 100%;
}

table td,
table th {
    padding: 1.0rem 0.6rem;
}

th:first-child,
td:first-child {
    width: 25%;
}

.user-table-title th:not(:first-child) {
    width: auto;
}

/* --------------------
edit
--------------------*/
.titele-carcon {
    color: #FF29A9;
}


/* --------------------
reserve 
--------------------*/
h1 {
    text-align: center;
    color: #394C84;
    margin-bottom: 50px;
}

.reserve-card {
    background-color: #EDF0F4;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16px 130px;
}

.category {
    font-size: 14px;
    color: #fff;
    background: #CDCDCF;
    width: fit-content;
    padding: 7px 10px;
    margin: 0;
    border-radius: 12px;
}

.category--required {
    background: #FF29A9;
}

.history-item {
    font-size: 20px;
    margin-block: auto;
    align-items: center;
}

.item {
    margin: 0;
}

.item-name {
    color: #394C84;
    display: flex;
    align-items: center;
    margin: 0 30px 10px;
}

.day-item,
.time-item,
.format-item {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.day-item,
.time-item,
.check-group {
    flex-direction: column;
}

.form-select {
    border-radius: 20px;
    border: solid 1.5px #737686;
    padding: 2% 10%;
    margin-left: auto;
}

.check-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.form-check {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
    accent-color: #1F88FF;
}

.form-check::before {
    position: absolute;
    content: "";
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    z-index: 1;
}

.form-check-input,
.form-check-label {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: end;
    white-space: nowrap;
}

#return-btn {
    color: #fff;
    background-color: #737686;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

#next-btn {
    color: #fff;
    background-color: #1F88FF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

/* --------------------
reserve-check 
--------------------*/
.confirm-item-list {
    text-align: center;
    margin: 20px;
}

.confirm-item {
    margin-bottom: 15px;
}

.con-item-name {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #394C84;
    margin-bottom: 5px;
}

.select-item {
    font-size: 20px;
    font-weight: bold;
}

.reserve-btn {
    display: flex;
    justify-content: center;
}

#reserve {
    color: #fff;
    background-color: #1F88FF;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

/* --------------------
bottom-bar 
--------------------*/
.navbar {
    background-color: #F6F8FB;
}

.nav-link {
    &:hover {
        color: #2563EB;
    }
}