@charset "utf-8";

/* -- admin -- */
.admin-wrapper {
    display: flex;
}

.admin-sidebar-wrapper {
    width: 30%;
}


/* -- user -- */
/* 共通部分 */
body {
    font-family: 'LINE Seed JP', sans-serif;
}

.user-wrapper {
    width: 92%;
    margin: 0 auto;
}

.user-section_title {
    color: #394C84;
}

/* header */
header {
    background-color: #F6F8FB;
}

.user-logo {
    max-width: 300px;
}

/* login */
.user-login {
    min-height: 80vh;
}

.user-card {
    background-color: #F6FAFF;
    border-radius: 12px;
}

/* TOP */
.user-card_subtitle {
    font-size: 10px;
    color: #394C84;
}



/* reserve */


/* reserve-check */